* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}
main{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .box{
        width: 350px;
        height: 450px;
        background-color: white;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        img{
            width: 100%;
            border-radius: 2rem;
        }
        h1{
            font-weight: 500;
            font-size: 1.6rem;
        }
        .Add{
            width: 80%;
            padding: 0.8rem;
            background-color: rgba(127, 255, 212, 0.429);
            display: flex;
            justify-content: center;
            border-radius: 2rem;
            font-size: 1.6rem;
            font-weight: 600;
            cursor: pointer;
        }
        .Add:hover{
            background-color: aquamarine;
        }
        .Add:active{
            transform: scale(1.05);
        }
        .go{
            margin-top: 1.5rem;
            display: flex;
            gap: 14rem;
            button{
            width: 80%;
            padding: 0.8rem;
            background-color: rgba(127, 255, 212, 0.493);
            display: flex;
            border: none;
            justify-content: center;
            border-radius: 2rem;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            }
            button:hover{
                background-color: aquamarine;
            }
            button:active{
                transform: scale(1.1);
            }
        }
    }
}